<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<link rel="shortcut icon" type="image/png" href="/assets/images/favicon.ico"/>
	<title>Blog Site</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
	<link href="/assets/css/main.css" rel="stylesheet">
	<noscript><link href="/assets/css/noscript.css" rel="stylesheet"></noscript>
</head>
<body class="no-sidebar is-preload">
<div class="page-wrapper">

	<!-- Header -->

				<header id="header">
					<h1 id="logo"><a th:href="@{index}">Gourmet Me</a></h1>
					<nav id="nav">
						<ul>
							<li><a href="index.html">Home</a></li>
							<li><a href="/restaurants.html">Restaurants</a></li>
							<li class="current"><a href="all-posts.html">All Posts</a></li>
							<li><a th:href="@{blog_posts/post}" class="button primary">Create Post</a></li>
						</ul>
					</nav>
				</header>
				
<h1>Welcome to My Blog Post Site!</h1>
<h3>Check out our blogs!</h3>

	<h4>Blog Posts:</h4>
	<div class="row">
		<div th:each="blog:${posts}">
		<div class="col-md-6">
			<div class="panel panel-default">
				<div class="panel-heading">
					<p th:text="${blog.title}"/>
				</div>
				<div class="panel-body">
					by: <p th:text="${blog.author}"/>					
					<p th:text="${blog.restaurant}" />
					<p th:text="${blog.blogEntry}" />
				</div>
				<div class="panel-footer">
					<!-- Link to Update -->
				<a th:href="@{'/blog_posts/update/{id}'(id=${blog.id})}"> Update</a>
					<!-- Link to Show  -->
					<!--  Link to Destroy -->
				<a th:href="@{'/blog_posts/delete/{id}'(id=${blog.id})}" onClick="if(!(confirm('Are you sure you want to delete this post?'))) return false"
				> Delete</a>
					
				</div>
			</div>
		</div>
	</div>
</div>
	<a th:href="@{/blog_posts/post}"><button class= "btn btn-primary">Submit a New Blog Post</button></a>

</div>	
		<!-- Scripts -->
			<script src="/assets/js/jquery.min.js"></script>
			<script src="/assets/js/jquery.dropotron.min.js"></script>
			<script src="/assets/js/jquery.scrolly.min.js"></script>
			<script src="/assets/js/jquery.scrollgress.min.js"></script>
			<script src="/assets/js/jquery.scrollex.min.js"></script>
			<script src="/assets/js/browser.min.js"></script>
			<script src="/assets/js/breakpoints.min.js"></script>
			<script src="/assets/js/util.js"></script>
			<script src="/assets/js/main.js"></script>
</body>
</html>                                                                                                                                                                                     