<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Blog Site</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	    <link href="webjars/bootstrap/3.3.7/css/bootstrap.min.css"
        rel="stylesheet">
       <link href="/assets/css/main.css" rel="stylesheet">
</head>
<body>
<div class="container">
<h1>Welcome to My Blog Post Site!</h1>
<h3>Check out our blogs!</h3>

	<h4>Blog Posts:</h4>
	<div class="row">
		<div th:each="blog:${posts}">
		<div class="col-md-6">
			<div class="panel panel-default">
				<div class="panel-heading">
					<p th:text="${blog.title}"/>
				</div>
				<div class="panel-body">
					by: <p th:text="${blog.author}"/>					
					<p th:text="${blog.restaurant}" />
					<p th:text="${blog.blogEntry}" />
				</div>
				<div class="panel-footer">
					<!-- Link to Update -->
				<a th:href="@{'/blog_posts/update/{id}'(id=${blog.id})}"> Update</a>
					<!-- Link to Show  -->
					<!--  Link to Destroy -->
				<a th:href="@{'/blog_posts/delete/{id}'(id=${blog.id})}" onClick="if(!(confirm('Are you sure you want to delete this post?'))) return false"
				> Delete</a>
					
				</div>
			</div>
		</div>
	</div>
</div>
	<a th:href="@{/blog_posts/post}"><button class= "btn btn-primary">Submit a New Blog Post</button></a>

</div>
	<script src="webjars/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	<script src="webjars/jquery/1.9.1/jquery.min.js"></script>
</body>
</html>                                                                                                                                                                                     