<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<html>
	<head>
		<title>Create Post - Gourmet Me</title>
		<link rel="shortcut icon" type="image/png" th:href="/assets/images/favicon.ico"/>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
<!-- 		<link href="css/standard.css" rel="stylesheet"> -->
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/main.css}"/>
	</head>
	<body class="contact is-preload">
		<div id="page-wrapper">

			<!-- Header -->
				<header id="header">
					<h1 id="logo"><a href="index.html">Gourmet Me</a></h1>
					<nav id="nav">
						<ul>
							<li><a href="index.html">Home</a></li>
							<li><a href="restaurants.html">Restaurants</a></li>
							<li><a href="all-posts.html">All Posts</a></li>
							<li class="current"><a href="post.html" class="button primary">Create Post</a></li>
						</ul>
					</nav>
				</header>

			<!-- Main -->
				<article id="main">

					<header class="special container">
						<span class="icon solid fa-envelope"></span>
						<h2>Create Post</h2>
						<p>Use the form below to let us know your favorite 
						<br />
						Gourmet Burger spot in Central Connecticut</p>
					</header>

					<!-- One -->
						<section class="wrapper style4 special container medium">

							<!-- Content -->
								<div class="content">
									<form action="#" th:action="@{/result}" th:object="${blogPost}" method="post">

								<!-- 		    Add a hidden form field to handle the update -->
			<input type="hidden" th:field="*{id}" />
										<div class="row gtr-50">
											<div class="col-6 col-12-mobile">
												<input type="text" name="name" placeholder="Name" />
											</div>
											<div class="col-6 col-12-mobile">
												<input type="text" th:field="*{author}" name="author" placeholder="Author" />
											</div>
											<div class="col-12">
												<input type="text" th:field="*{restaurant}" name="restaurant" placeholder="Restaurant" />
											</div>
											<div class="col-12">
												<input type="text" th:field="*{title}" name="title" placeholder="Title" />
											</div>
											<div class="col-12">
												<textarea name="message" th:field="*{blogEntry}" placeholder="Message" rows="7"></textarea>
											</div>
											<div class="col-12">
												<ul class="buttons">
													<li><input type="submit" class="special" value="Create Post" /></li>
												</ul>
											</div>
										</div>
									</form>
								</div>

						</section>

				</article>

			<!-- Footer -->
				<footer id="footer">

					<ul class="icons">
						<li><a href="#" class="icon brands circle fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="#" class="icon brands circle fa-facebook-f"><span class="label">Facebook</span></a></li>
						<li><a href="#" class="icon brands circle fa-google-plus-g"><span class="label">Google+</span></a></li>
					</ul>

					<ul class="copyright">
						<li>&copy; Angelina Opoku</li>
					</ul>

				</footer>

		</div>

		<!-- Scripts -->

			<script th:href="@{/assets/js/jquery.min.js}"></script>

			<script th:href="@{/assets/js/jquery.dropotron.min.js}"></script>

			<script th:href="@{/assets/js/scrolly.min.js}"></script>

			<script th:href="@{/assets/js/scrollgress.min.js}"></script>
			
			<script th:href="@{/assets/js/scrollex.min.js}"></script>

			<script th:href="@{/assets/js/browser.min.js}"></script>

			<script th:href="@{/assets/js/breakpoints.min.js}"></script>

			<script th:href="@{/assets/js/util.min.js}"></script>

			<script th:href="@{/assets/js/main.js}"></script>

	</body>
</html>