<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Featured Restaurants - Gourmet Me</title>
		<link rel="shortcut icon" type="image/png" href="/images/favicon.ico"/>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/assets/css/main.css"/>
		<noscript><link rel="stylesheet" href="/assets/css/noscript.css"/></noscript>
	</head>
	<body class="left-sidebar is-preload">
		<div id="page-wrapper">


	<!-- Header -->

				<header id="header">
					<h1 id="logo"><a th:href="@{/}">Gourmet Me</a></h1>
					<nav id="nav">
						<ul>
							<li><a th:href="@{/}">Home</a></li>
							<li class="current"><a th:href="@{/blogpost/restaurants}">Restaurants</a></li>
							<li><a th:href="@{/blog_posts/all-posts}">All Posts</a></li>
							<li><a th:href="@{/blog_posts/post}" class="button primary">Create Post</a></li>
						</ul>
					</nav>
				</header>

			<!-- Main -->
				<article id="main">

					<header class="special container">
						<span class="icon solid fa-laptop"></span>
						<h2><strong>Featured Restaurants</strong></h2>
						<p>Where the real foodies eat</p>
					</header>

					<!-- One -->
						<section class="wrapper style4 container">

							<div class="row gtr-150">
								<div class="col-4 col-12-narrower">

									<!-- Sidebar -->
										<div class="sidebar">
											<section>
												<header>
													<h3>Only the finest</h3>
												</header>
												<p>Q: Are there vegan options? Is this site vegan friendly? A: Yes! There is something for everyone on the menu. (As long as you post reviews...)</p>
												<footer>
													<ul class="buttons">
														<li><a href="#" class="button small">Learn More</a></li>
													</ul>
												</footer>
											</section>

											<section>
												<a href="#" class="image featured"><img src="/images/eat.jpg" alt="" /></a>
												<header>
													<h3>The Most Accurate Reviews</h3>
												</header>
												<p>Q: Why doesn't my burger look like the one that's pictured? A: Gourmet Me is not responsible for any inaccurate descriptions of food. Proceed at your own risk.</p>
												<footer>
													<ul class="buttons">
														<li><a href="#" class="button small">Learn More</a></li>
													</ul>
												</footer>
											</section>
										</div>

								</div>
								<div class="col-8 col-12-narrower imp-narrower">

									<!-- Content -->
										<div class="content">
											<section>
												<a href="#" class="image featured"><img src="/images/rest.jpg" alt="" /></a>
												<header>
													<h3>Featured Meals</h3>
												</header>
												<p>Big Mac®: 540 Cal. Mouthwatering perfection starts with two 100% pure beef patties and Big Mac® sauce sandwiched between a sesame seed bun. It’s topped off with pickles, crisp lettuce, onions and American cheese for a 100% beef burger with a taste like no other. It contains no artificial flavors, preservatives or added colors from artificial sources.* Our pickle contains an artificial preservative, so skip it if you like</p>
												<p>Barbecue Cheeseburger Triple: 1160 Cal. Three quarters of a pound* of fresh, never-frozen beef, crispy fried onions and American cheese, covered in sweet and smoky barbecue sauce all on a toasted bun.  This stampede of flavor is the best barbecue hamburger in the west–or north or south or east for that matter. Fresh beef available in the contiguous U.S., Alaska and Canada. *Approximate weight before cooking</p>
												<p>Chick-fil-A® Deluxe Sandwich: 500 Cal. A boneless breast of chicken seasoned to perfection, hand-breaded, pressure cooked in 100% refined peanut oil and served on a toasted, buttered bun with dill pickle chips, Green Leaf lettuce, tomato and American cheese. Gluten-free bun or multigrain bun also available at an additional cost.</p>
												</section>
										</div>

								</div>
							</div>
						</section>

					<!-- Two -->
						<section class="wrapper style1 container special">
							<div class="row">
								<div class="col-4 col-12-narrower">

									<section>
										<a th:href="@{/blogpost/restaurants}"><span class="icon solid featured fa-check"></span></a>
										<header>
											<h3>Restaurants</h3>
										</header>
										<p>Wanna know exactly where to go for the best grub?</p>
										<footer>
											<ul class="buttons">
												<li><a th:href="@{/blogpost/restaurants}" class="button small">Learn More</a></li>
											</ul>
										</footer>
									</section>

								</div>
								<div class="col-4 col-12-narrower">

									<section>
										<a th:href="@{/blog_posts/all-posts}"><span class="icon solid featured fa-check"></span></a>
										<header>
											<h3>Reviews</h3>
										</header>
										<p>Our reviews are made by true foodies. We'll always be honest, promise!</p>
										<footer>
											<ul class="buttons">
												<li><a th:href="@{/blog_posts/all-posts}" class="button small">Learn More</a></li>
											</ul>
										</footer>
									</section>

								</div>
								<div class="col-4 col-12-narrower">

									<section>
										<a th:href="@{/blog_posts/post}"><span class="icon solid featured fa-check"></span></a>
										<header>
											<h3>Post</h3>
										</header>
										<p>Think you know where the best burgers really are?</p>
										<footer>
											<ul class="buttons">
												<li><a th:href="@{/blog_posts/post}" class="button small">Learn More</a></li>
											</ul>
										</footer>
									</section>

								</div>
							</div>
						</section>

				</article>

			<!-- Footer -->
				<footer id="footer">

					<ul class="icons">
						<li><a href="#" class="icon brands circle fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="#" class="icon brands circle fa-facebook-f"><span class="label">Facebook</span></a></li>
						<li><a href="#" class="icon brands circle fa-google-plus-g"><span class="label">Google+</span></a></li>
					</ul>

					<ul class="copyright">
						<li><a href="https://oh-angelina.github.io/angelina.opoku-github.io/">&copy; Angelina Opoku</a></li>
					</ul>

				</footer>

		</div>

		<!-- Scripts -->
			<script src="/assets/js/jquery.min.js"></script>
			<script src="/assets/js/jquery.dropotron.min.js"></script>
			<script src="/assets/js/jquery.scrolly.min.js"></script>
			<script src="/assets/js/jquery.scrollgress.min.js"></script>
			<script src="/assets/js/jquery.scrollex.min.js"></script>
			<script src="/assets/js/browser.min.js"></script>
			<script src="/assets/js/breakpoints.min.js"></script>
			<script src="/assets/js/util.js"></script>
			<script src="/assets/js/main.js"></script>

	</body>
</html>